@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Italianno&family=News+Cycle:wght@400;700&family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body { 
    width: 100vw; 
    max-width: 100%;
    font-size: 10px;
}

.cover{

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  #bb0407);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px
}

.section-1{
    background-color: rgb(115, 39, 39);
    background-image: url('Roses.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 750px;
    
}
.section-1-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(3px);
    /*padding: 20px 100px;*/
    border-radius: 4px;
    
}

.section-1 h1{
    font-family: "Playfair Display";
    font-size: 20em;
    color: rgb(36, 31, 31);
    text-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.info-2{
    display: flex;
    justify-content: center;
    text-shadow: 0px 4px 8px black;
}

.info-1{
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    bottom: -75px;

    font-family: "News Cycle";
    color: rgb(36, 31, 31);
    font-size: 1.2em;
    text-shadow: 0px 0px 50px white;
}

.info-2 h2{
    display: inline-block;

    font-family: "Nothing you could do";
    font-size: 9.7em;
    color: rgb(253, 238, 238);
    transform: rotate(-5deg);
    position: relative;
    top: -110px

}

.section-2{
    width: 100%;
    height: 1500px;

    position: relative;

    background-image: linear-gradient(to bottom,  #bb0406, rgb(0, 0, 0));
}

.invitation-container{
    position: absolute;
    top: 28%;

    display: flex;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.invitation{
    height: 600px;
    width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.263);
    background-color: rgb(183, 156, 121);
}

.invitation h1{
    font-family: "Playfair Display";
    font-size: 10em;
}

.section-3{
    display: flex;
    flex-direction: column;

    padding: 0px 20px;
    
    background-color:rgb(0, 0, 0);
}

.section-3-title{
    text-align: center;
    font-size: 20em;
    
    font-family: "Italianno";
    

    color:  white;
    margin-bottom: 50px;
}

.section-3-title hr{
    border: none;
    height: 7px;
    background-color: rgb(255, 255, 255);
}

.section-3-content-container{
    color: white;
    font-family: "Italianno";
}

.venue-pictures{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
}

.image-1, .image-2{
    height: 300px;
    width: 600px;

    background-color: rgba(0, 255, 255, 0.233);
}

.image-1{
    background-image: url('Venue.jpg');
    background-position: center center;
    background-size: cover;
}

.image-2{
    background-image: url('Venue2.jpg');
    background-position: center center;
    background-size: cover;
}



.venue-name{
    background-color: #1f1f1f;

    border-radius: 50%;
    border-top: 5px solid white;

    font-size: 10rem;
    text-align: center;

    position: relative;
    top: 100px;
}

#bottom-part{
    border-top: none;
    border-bottom: 5px solid white;
    top: -100px;
}

.venue-content{
    background-color:  #1f1f1f;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;

    height: 800px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    p{
        font-size: 2.2rem;
    }

    iframe{
        border-radius: 40px;
    }
    
}