@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Italianno&family=News+Cycle:wght@400;700&family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body { 
    width: 100vw; 
    
    font-size: 10px;
    overflow-x: hidden;
}

.cover{

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  #bb0407);
    width: 100%;
    height: 300px;
    position: absolute;
    top: 10px
}

.section-1{
    background-color: rgb(115, 39, 39);
    background-image: url('Roses.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    
}
.section-1-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(3px);
    /*padding: 20px 100px;*/
    border-radius: 4px;

    transform: scale(0.3);
    
}

.section-1 h1{
    font-family: "Playfair Display";
    font-size: 20em;
    color: rgb(36, 31, 31);
    text-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.info-2{
    display: flex;
    justify-content: center;
    text-shadow: 0px 4px 8px black;
}

.info-1{
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    bottom: -75px;

    font-family: "News Cycle";
    color: rgb(36, 31, 31);
    font-size: 1.2em;
    text-shadow: 0px 0px 50px white;
}

.info-2 h2{
    display: inline-block;

    font-family: "Nothing you could do";
    font-size: 9.7em;
    color: rgb(253, 238, 238);
    transform: rotate(-5deg);
    position: relative;
    top: -110px
}


/* Section 2*/


.section-2{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: baseline;

    background-image: linear-gradient(to bottom,  #bb0406, rgb(0, 0, 0));
}


.invitation-container{
    position: absolute;
    top: 28%;

    display: flex;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0);
    width: 100%;

    transform: scale(0.6);
}

.invitation{
    height: 600px;
    width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.263);
    background-color: rgb(183, 156, 121);
    
}

.invitation h1{
    font-family: "Playfair Display";
    font-size: 10em;
}


/*Section 3*/

.section-3{
    display: flex;
    flex-direction: column;

    padding: 0px 30px;
    width: 100%;
    
    background-color:rgb(0, 0, 0);
    
    
}

.section-3-title{
    text-align: center;
    font-size: 10em;
    
    
    font-family: "Italianno";
    
    

    color:  white;
    margin-bottom: 50px;
}

.section-3-title hr{
    border: none;
    height: 7px;
    background-color: rgb(255, 255, 255);
}

.section-3-content-container{
    color: white;
    font-family: "Italianno";
}

.venue-pictures{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
}

.image-1, .image-2{
    height: 300px;
    width: 600px;

    background-color: rgba(0, 255, 255, 0.233);
}

.image-1{
    background-image: url('Venue.jpg');
    background-position: center center;
    background-size: cover;
}

.image-2{
    background-image: url('Venue2.jpg');
    background-position: center center;
    background-size: cover;
}



.venue-name{
    background-color: #1f1f1f;

    border-radius: 50%;
    border-top: 5px solid white;

    font-size: 4rem;
    text-align: center;

    position: relative;
    top: 100px;
}

#bottom-part{
    border-top: none;
    border-bottom: 5px solid white;
    top: -100px;
}

.venue-content{
    background-color:  #1f1f1f;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;

    height: 800px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    p{
        font-size: 2.2rem;
    }

    iframe{
        border-radius: 40px;
        width: 90%;
        height: 100%;
    }
    
}


@media (min-width: 960px) {
   *, *::before, *::after{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body { 
    width: 100vw; 
    max-width: 100%;
    font-size: 10px;
    overflow-x: hidden;
}

.cover{

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  #bb0407);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px
}

.section-1{
    background-color: rgb(115, 39, 39);
    background-image: url('Roses.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 750px;
    
}
.section-1-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(3px);
    /*padding: 20px 100px;*/
    border-radius: 4px;
    
    transform: scale(1);
}

.section-1 h1{
    font-family: "Playfair Display";
    font-size: 20em;
    color: rgb(36, 31, 31);
    text-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.info-2{
    display: flex;
    justify-content: center;
    text-shadow: 0px 4px 8px black;
}

.info-1{
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    bottom: -75px;

    font-family: "News Cycle";
    color: rgb(36, 31, 31);
    font-size: 1.2em;
    text-shadow: 0px 0px 50px white;
}

.info-2 h2{
    display: inline-block;

    font-family: "Nothing you could do";
    font-size: 9.7em;
    color: rgb(253, 238, 238);
    transform: rotate(-5deg);
    position: relative;
    top: -110px

}

.section-2{
    width: 100%;
    height: 1500px;

    position: relative;

    background-image: linear-gradient(to bottom,  #bb0406, rgb(0, 0, 0));
}

.invitation-container{
    

    display: flex;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0);
    width: 100%;

    transform: scale(1);
}

.invitation{
    height: 600px;
    width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.263);
    background-color: rgb(183, 156, 121);
}

.invitation h1{
    font-family: "Playfair Display";
    font-size: 10em;
}

.section-3{
    display: flex;
    flex-direction: column;

    padding: 0px 20px;
    
    background-color:rgb(0, 0, 0);
}

.section-3-title{
    text-align: center;
    font-size: 20em;
    
    
    font-family: "Italianno";
    
    

    color:  white;
    margin-bottom: 50px;
}

.section-3-title hr{
    border: none;
    height: 7px;
    background-color: rgb(255, 255, 255);
}

.section-3-content-container{
    color: white;
    font-family: "Italianno";
}

.venue-pictures{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
}

.image-1, .image-2{
    height: 300px;
    width: 600px;

    background-color: rgba(0, 255, 255, 0.233);
}

.image-1{
    background-image: url('Venue.jpg');
    background-position: center center;
    background-size: cover;
}

.image-2{
    background-image: url('Venue2.jpg');
    background-position: center center;
    background-size: cover;
}



.venue-name{
    background-color: #1f1f1f;

    border-radius: 50%;
    border-top: 5px solid white;

    font-size: 10rem;
    text-align: center;

    position: relative;
    top: 100px;
}

#bottom-part{
    border-top: none;
    border-bottom: 5px solid white;
    top: -100px;
}

.venue-content{
    background-color:  #1f1f1f;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;

    height: 800px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;

    p{
        font-size: 2.2rem;
    }

    iframe{
        border-radius: 40px;
    }
    
}

.section-4{
    background-image: linear-gradient(to bottom, black, rgb(68, 2, 2));
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;

    font-family: "Cinzel";
    
}

.section-4-head{
    width: 100%;

    font-size: 3em;
    font-family: "Cinzel";
    
    text-align: center;
    .title{
        display: inline-block;
        font-family: "Italianno";

        font-size: 8em;
        padding: 20px;
        text-shadow: 0px 0px 10px#111111;

        border-bottom: 5px solid white;
        border-top: 5px solid white;
        border-radius: 50%;
    }
    .dress-desc{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .dress-desc p{
        width: 500px;
        font-size: 1em;
    }

    h3{
        margin: 20px;
        
    }
}

.dress-color{
    display: flex;
    justify-content: center;

    .box{
        height: 300px;
        width: 300px;

        border: 1px solid white;
        border-radius: 50px;
        background-color: #000000;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dress-type{

    margin-top: 50px;
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;

}

.mens, .womens{
    width: 40%;
    height: 700px;
    padding: 20px;

    border-radius: 30px;
    display: flex;
    flex-direction: column;

    background-color: rgba(240, 255, 255, 0.336);

    h1{
        text-align: center;
        font-size: 5em;
        border-bottom: 1px solid white;
    }

    p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 3em;

    }

    img{
        display: block;
        background-color: #1f1f1f41;
        width: 100%;
        height: 100%;

        border-radius: 20px;
    }
}

.section-5{
    background-color: rgb(0, 0, 0);
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
}
.bg-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 300px 0px;

    background-color: rgb(0, 0, 0);
}

.section-5-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.specials-container{

    background-color: rgba(255, 228, 196, 0.389); 
    background: linear-gradient(-45deg,rgba(51, 51, 51, 0.289) 68%, rgba(116, 112, 6, 0.714) 100%);
    backdrop-filter: blur(5px);

    border-radius: 30px;
    padding: 50px;

    width: 60%;
    height: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
    h1{
        font-size: 9em;
        color: white;
    }
    
}

.specials-list{
    width: 45%;
    
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-size: 4em;
}

#Candles{
   /*background-image: url('https://images.unsplash.com/photo-1706922122814-12402375d89a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FuZGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
background-size: cover;
*/

background-image: url('18-Candles.png');
background-position: center center;

background-repeat: no-repeat;
}

#Roses{
    background-image: url('Roses-1.jpg');
    background-size: cover;
}
#Shots{
    background-image: url('Shot.jpg');
    background-size: cover;
    background-position: -500px 200px;
    background-repeat: no-repeat;
}
#Candles-container{
    background-image: none;
    backdrop-filter: blur(0px);
}
}